@import "node_modules/bootstrap/scss/bootstrap";

.container.main {
  min-height: 45rem;
}

.row.post {
  margin-bottom: 50px;
}

.icon-row {
  i {
    margin-right: 8px;
  }
}

.profile-jumbotron {
  padding-top: 56px;
  margin-bottom: 50px;
  background-color: #8eb8e5;

  .container {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }
}